<!--Single Item-->
                <div class="product-item">
                    <div class="product-img">
                        <img src="images/bed.jpeg" alt="bed">
                        <button type="button" class="add-to-cart-btn">
                            <i class="fas fa-shopping-cart"></i>Add to Cart
                        </button>
                    </div>
                    <div class="product-content">
                        <h3 class="product-name">Wooden Bed</h3>
                        <span class="product-category">Bed</span>
                        <p class="product-price">$120.00</p>
                    </div>
                </div>
                <!--end of Single Item-->

                <!--Single Item-->
                <div class="product-item">
                    <div class="product-img">
                        <img src="images/bed.jpeg" alt="bed">
                        <button type="button" class="add-to-cart-btn">
                            <i class="fas fa-shopping-cart"></i>Add to Cart
                        </button>
                    </div>
                    <div class="product-content">
                        <h3 class="product-name">Wooden Bed</h3>
                        <span class="product-category">Bed</span>
                        <p class="product-price">$120.00</p>
                    </div>
                </div>
                <!--end of Single Item-->

                <!--Single Item-->
                <div class="product-item">
                    <div class="product-img">
                        <img src="images/bed.jpeg" alt="bed">
                        <button type="button" class="add-to-cart-btn">
                            <i class="fas fa-shopping-cart"></i>Add to Cart
                        </button>
                    </div>
                    <div class="product-content">
                        <h3 class="product-name">Wooden Bed</h3>
                        <span class="product-category">Bed</span>
                        <p class="product-price">$120.00</p>
                    </div>
                </div>
                <!--end of Single Item-->

                 <!--Single Item-->
                 <div class="product-item">
                    <div class="product-img">
                        <img src="images/bed.jpeg" alt="bed">
                        <button type="button" class="add-to-cart-btn">
                            <i class="fas fa-shopping-cart"></i>Add to Cart
                        </button>
                    </div>
                    <div class="product-content">
                        <h3 class="product-name">Wooden Bed</h3>
                        <span class="product-category">Bed</span>
                        <p class="product-price">$120.00</p>
                    </div>
                </div>
                <!--end of Single Item-->