@import url('https://fonts.googleapis.com/css2?family=Enriqueta&display=swap');

:root {
    --ghost-white: #f8f9fd;
    --fire-bush: #e99c2f;
    --granite-gray: #626a6a;
    --baltic-sea: #33383c;
    --trans: all 0.5s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Enriqueta', serif;
}

body {
    line-height: 1.5;
    font-weight: 400;
}
/*images*/
img {
    display: block;
    width: 100%;
}

button {
    cursor: pointer;
    outline: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.text {
    font-size: 1.2rem;
    margin: 1.2rem 0;
    line-height: 1.7;
    opacity: 0.7;
}
/*End of images*/

/*Header*/
header {
    background: var(--ghost-white);
}

header .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 1.5rem 1rem!important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 1.5rem 0;
    background: var(--ghost-white);
    z-index: 999;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 600;
    color: var(--granite-gray);
    justify-self: flex-start;
}

.navbar-toggler {
    justify-self: center;
    border: none;
    color: white;
    background: var(--fire-bush);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.5rem;
    position: relative;
}

.navbar-collapse {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: var(--trans);
}

/*for Js*/
.show-navbar {
    height: 204px;
}
/**/

.navbar-collapse ul {
    list-style-type: none;
}

.navbar-collapse li{
    margin: 0.8rem 0;
    letter-spacing: 2px;
    text-align: center;
}

.navbar-collapse a{
    font-size: 1.2rem;
    opacity: 0.7;
}

.cart {
    justify-self: flex-end;
    padding-right: 9px;
}

#cart-btn {
    border: none;
    font-size: 1.5rem;
    background: none;
    color: var(--granite-gray);
    position: relative;
}

#cart-count-info {
    position: absolute;
    top: -12px;
    right: -8px;
    background: var(--fire-bush);
    color: white;
    font-size: 1.2rem;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.cart-container {
    position: absolute;
    overflow-y: scroll;
    background: white;
    width: 100%;
    height: 600px;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.21);
    display: none;
}

.cart-container::-webkit-scrollbar {
    width: 8px;
}

.cart-container::-webkit-scrollbar-thumb {
   background: rgba(0, 0, 0, 0.1);
   border-radius: 15px;
}

/* for Js*/
.show-cart-container {
    display: block;
}
/* */

.cart-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
    align-items: center;
    position: relative;
    padding: 1.3rem 0.7rem;
    height: 145px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item-del-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0.07rem 0.47rem;
    font-size: 22px;
    background: var(--fire-bush);
    border: none;
    color: white;
    border-radius: 5px;
}

.cart-item img {
    width: 90px;
}
.cart-item-info {
    text-align: center;
}

.cart-item-info span {
    display: block;
}

.cart-total {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: var(--fire-bush);
}

.cart-total h3 {
    margin-right: 3.3px;
    font-size: 21px;
}

#cart-total-value {
    font-size: 21px;
    font-weight: 500px;
}

/*banner*/
.banner {
    margin-top: 230px;
    flex: 1;
    padding-top: 96px;
    text-align: center;
}

.banner > div {
    margin: 48px 0;
}

.banner .text {
    font-weight: 600;
    font-size: 19px;
    opacity: 0.46;
}

.btns {
    margin: 25px;
}
.btn {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid var(--fire-bush);
    background: var(--fire-bush);
    color: white;
    padding: 14px;
    letter-spacing: 2px;
    display: block;
    width: 180px;
    margin: 10px auto;
    transition: var(--trans);
}

.btns .btn:last-child {
    color: var(--fire-bush);
    background: transparent;
}

.btns .btn:first-child:hover{
    background: transparent;
    color: var(--fire-bush);
}

.btns .btn:last-child:hover {
    background: var(--fire-bush);
    color: white;
}

/*products*/
.products {
    padding: 96px;
}
.products h2 {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--granite-gray);
    margin-bottom: 48px;
}
.product-item {
    margin: 16px 0;
}
.product-img {
    background: var(--ghost-white);
    padding: 48px 0;
    height: 750px;
    overflow: hidden;
    position: relative;
}

.product-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    margin: 0 auto;
    transition: var(--trans);
}
.product-img:hover img {
    opacity: 0.8;
}
.product-content {
    padding: 26px 0;
    text-align: center;
}
.add-to-cart-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 12px 20px;
    font-size: 17px;
    background-color: var(--baltic-sea);
    color: white;
    transition: var(--trans);
    opacity: 0;
}
.product-item:hover .add-to-cart-btn {
    opacity: 1;
}
.add-to-cart-btn .fas {
    margin-right: 6.5px;
}
.add-to-cart-btn:hover {
    background-color: #23272a;
    color: var(--fire-bush);
}
.product-category {
    margin: 13px;
    display: inline-block;
    font-weight: 500;
    background: var(--fire-bush);
    color: white;
    padding: 1px 24px;
    border-radius: 5px;
    letter-spacing: 2px;
}
.product-price {
    font-size: 21px;
    font-weight: 500;
    opacity: 0.6;
}

/*Footer*/
footer {
    background-color: var(--baltic-sea);
}
.footer-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/footer-banner.jpeg) center/cover no-repeat;
    padding: 48px 0;
}
.footer-banner {
    color: white;
    text-align: center;
}
.footer-banner h2 {
    font-size: 38.5px;
}
.footer-banner .btn {
    margin-top: 32px;
}
.footer-banner .btn:hover {
    background: white;
    color: var(--fire-bush);
    background: transparent;
}
footer > .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons {
    display: flex;
    padding: 48px 0;
}
.social-icons a{
    color: var(--granite-gray);
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    transition: var(--trans);
}
.social-icons a:hover {
    color: white;
}




/*Media Queries*/
@media screen and (min-width: 480px) {
    /*Header*/
    .btns button {
        display: inline-block;
    }
    .btns button:first-child {
        margin-right: 7px;
    }
}

@media screen and (min-width: 680px) {
    .navbar {
        padding: 24px 96px!important;
    }
    .cart-container {
        width: 480px;
        left: auto;
        right: 48px;
    }
    .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 32px;
    }
}

@media screen and (min-width: 992px) {
    .navbar {
        padding: 24px 96px!important;
    }
    .cart-container {
        right: 96px;
    }
    .banner {
        padding-top: 0;
        display: grid;
        grid-template-columns: 55% 45%;
        align-content: center;
    }
    .banner-content {
        text-align: left;
    }
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-banner{
        text-align: left;
    }
    .footer-banner .text {
        width: 60%;
    }
    .footer-banner .btn{
        margin-left: 0;
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        padding-top: 24px 224px!important;
    }
    .cart-container {
        right: 224px;
    }
    .banner-content h1 {
        font-size: 56px;
    }
    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }
}


